header {
    padding-top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
header h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div.container {
    height: 70dvh;
}
.bi-clipboard {
    cursor: pointer;
}
div.info-container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    width: 178%;
    min-height: 50%;
    max-width: 300%;
    line-height: 2.225rem;
    border: 1px solid #242830;
    transition: .3s;
}
.hiddencopyalert {
    opacity: 0;
    transition: opacity .2s ease-in;
}
.hiddencopyalert.nothide {
    opacity: 1;
}
@media screen and (max-width: 767px) {
    div.info-container {
        top: 55%;
    }
}
@media screen and (max-width: 360px) {
    div.info-container {
        top: 90%;
    }
}
@media screen and (min-width: 319px) and (max-width: 359px) {
    div.info-container {
        top: 90%;
    }
}
@media screen and (min-width: 1024px) {
    div.info-container {
        top: 63%;
    }
}
@media screen and (max-width:360px) and (max-height:780px) {
    div.info-container {
        height: 126dvh;
    }
}