main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
div.container {
    height: 70dvh;
}
.bi-clipboard {
    cursor: pointer;
}
div.info-container {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 10px;
    width: 178%;
    min-height: 50%;
    max-width: 300%;
    line-height: 2.225rem;
    border: 1px solid #242830;
}
.hiddenalert {
    opacity: 0;
    transition: opacity .2s ease-in;
}
.hiddenalert.nothide {
    opacity: 1;
    z-index: 99999;
}
div.badge {
    border: 1px solid #ffffff;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    width: fit-content;
    max-width: fit-content;
    padding: 4px;
    font-size: 20px;
    transform: translateY(0px);
    transition: .3s;
    display: none;
    cursor: pointer;
        &.sitestaff {
            background: #2aaa686c;
        }
        &.trainingstaff {
            background: #0f4c816c;
        }
        &.trainingdeveloper {
            background: #B72A2A6c;
        }
        &.oldplayer {
            background: #00a5a26c;
        }
        &.devhelp {
            background: #952aaa6c;
        }
}
div.badge:hover {
    transform: scale(1.2,1.2);
}
div.badges {
    display: flex;
    flex-direction: row;
    gap: 12px;
}
li#staffbadge {
    display: none;
}
@media screen and (max-width: 767px) {
    div.info-container {
        top: 65%;
    }
}
@media screen and (max-width: 360px) {
    div.info-container {
        top: 90%;
    }
}
@media screen and (min-width: 319px) and (max-width: 359px) {
    div.info-container {
        top: 90%;
    }
}
@media screen and (min-width: 1024px) {
    div.info-container {
        top: 63%;
    }
}
@media screen and (max-width:360px) and (max-height:780px) {
    div.info-container {
        position: relative;
        /* height: 93dvh; */
        top: 15%;
    }
    header {
        width: 160% !important;
    }
}