.input {
  background: #232527;
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  color: #77787A;
  font-size: 16px;
  transition: .3s ease;
  width: 100%;
    &:focus {
      color: white;
    }
    &:focus + .icon {
      color: white;
    }
    &:hover {
      background: #2e3133;
    }
    &.WithIcon {
      padding: 13px 40px;
    }
    &.WithoutIcon {
      padding: 13px 24px !important;
    }
}
.Required {
  color: rgba(255, 0, 0, 0.432);
  transition: .3s ease;
}
.Error {
  border: 1px solid #FF6955;
}
.label {
  color: #77787A;
  transition: .3s ease;
  width: 100%;
  margin-bottom: 5px;
    &:hover {
      color: white;
        .Required {
          color: red;
        }
    }
}
.icon {
  transition: .3s ease;
  position: absolute;
  margin-top: 39px;
  color: #77787A;
  margin-left: 11px;
  display: inline-flex;
}