.blockWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.log {
  &__item {
    border-radius: 15px;
    padding-top: 20px;
    display: grid;
    width: 400px;
    margin-right: 30px;
      &__icon_container {
        display: flex;
        height: 100%;
        opacity: .8;
        font-size: 100px;
        width: 100%;
        justify-content: space-around;
      }
      &:last-of-type {
        margin-right: 0;
      }
  }
  &__info_container {
    filter: drop-shadow(6px -9px 21px #0000008c);
    backdrop-filter: blur(50px);
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    padding: 11px 15px;
    background-color: #1a171721;
    justify-content: space-between;
      &__text {
        height: 69px;
        display: inline-block;
        h3 {
          overflow: hidden;
          width: 259px;
          height: 48px;
        }
        &__data {
          width: fit-content;
          display: inline-block;
          opacity: .6;
          display: flex;
          align-items: center;
          vertical-align: middle;
          margin-top: 6px;
          font-size: 14px;
            svg {
              margin-right: 5px;
            }
        }
      }
      &__buttonContainer {
        display: flex;
        align-items: center;
      }
  }
}