.blockWrapper {
  display: flex;
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }  
}
.log {
  &__item {
    border-radius: 15px;
    padding-top: 20px;
    display: grid;
    width: 400px;
    margin-right: 30px;
      &__icon_container {
        display: flex;
        height: 100%;
        opacity: .8;
        font-size: 100px;
        width: 100%;
        justify-content: space-around;
      }
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
        margin-right: 0;
          :last-of-type {
            margin-bottom: 0;
          }
      }
      &:last-of-type {
        margin-right: 0;
      }
  }
  &__info_container {
    filter: drop-shadow(6px -9px 21px #0000008c);
    backdrop-filter: blur(50px);
    width: 100%;
    border-radius: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    padding: 11px 15px;
    background-color: #1a171721;
    justify-content: space-between;
      &__text {
        height: 69px;
        display: inline-block;
        h3 {
          overflow: hidden;
          width: 259px;
          height: 48px;
        }
        &__data {
          width: fit-content;
          opacity: .5;
          display: flex;
          margin-top: 3px;
          font-size: 13px;
            &__date, &__author {
              display: flex;
              align-items: center;
              vertical-align: middle;
                svg {
                  margin-right: 3px;
                }
            }
        }
      }
      &__buttonContainer {
        display: flex;
        align-items: center;
      }
  }
}