.PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
}
.ResultWrapper {
  margin-top: 10px;
  background: transparent;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 10px;
}