.circle {
  position: fixed;
  right: 15px;
  bottom: 15px;
  aspect-ratio: 1 / 1;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  transition: .2s ease-in;
  z-index: 9999999;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &.light {
    background: rgba(0, 0, 0);
    svg {
      stroke: white;
    }
  }
  &.dark {
    background: rgba(255, 255, 255);
    svg {
      stroke: black;
    }
  }
}