.small {
  font-size: 13px;
}
.medium {
  font-size: 16px;
}
.large {
  font-size: 18px;
}
//.loading {
//  &:has(.small) {
//    width: 13px;
//    height: 13px;
//  };
//  &:has(.medium) {
//    width: 16px;
//    height: 16px;
//  };
//  &:has(.large) {
//    width: 18px;
//    height: 18px;
//  };
//}