.toastWrapper {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  z-index: 9999;
}

.ByModal {
  z-index: 9999999;
}

.toast {
  border-radius: 8px;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  width: 450px;
  position: relative;
  backdrop-filter: blur(10px);
  border: 1px solid;
  justify-content: space-between;

  &.mobile {
    width: 357px;
  }

  &.default {
    background-color: #2f3136;
    border-color: #242830;
  }

  &.error {
    background-color: #362f2f;
    border-color: #242830;
  }

  &.success {
    background-color: #2f362f;
    border-color: #242830;
  }

  .content {
    flex: 1;
  }

  .closeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;

    svg {
      width: 24px;
      height: 24px;
      cursor: pointer;
      opacity: .7;
      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &:first-of-type {
    margin-bottom: 0;
  }
}

.clickable {
  cursor: pointer;
  transition: scale .2s;

  &:hover {
    scale: 1.1;
  }
}