.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  transition: .3s ease;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  outline: 0;
  position: relative;
  overflow: hidden;
    span {
      display: flex;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
    &:enabled {
      .ripple {
        position: absolute;
        border-radius: 50%;
        transform: scale(0);
        animation: ripple-animation 1.5s linear;
        background: rgba(255, 255, 255, 0.3);
        pointer-events: none;
        opacity: 1;
      }
      @keyframes ripple-animation {
        to {
          transform: scale(4);
          opacity: 0;
        }
      }
    }
}
.icon {
	margin-right: 6px;
	margin-bottom: 2px;
	width: 16px;
	height: 16px;
	&__loading {
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			height: 50px !important;
			margin: 0;
			padding: 0 !important;
		}
	}
}