.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  transition: .3s ease;
  color: white;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  outline: 0;
    span {
      display: flex;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }
}
.icon {
	margin-right: 6px;
	margin-bottom: 2px;
	width: 16px;
	height: 16px;
	&__loading {
		height: 18px;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			height: 50px !important;
			margin: 0;
			padding: 0 !important;
		}
	}
}