.PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
    h1 {
      margin-bottom: 10px;
    }
}
.ChipContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonGroup {
  display: flex;
  flex-direction: row;
  width: 35%;
  margin-bottom: 10px;
    button {
      margin-right: 15px;
        &:last-of-type {
          margin-right: 0;
        }
    }
}