.PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
    h1 {
      margin-bottom: 20px;
      text-align: center;
    }
}
.tab {
  border: 1px solid #242830;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  background-color: #2428303d;
  backdrop-filter: blur(15px);
  margin-bottom: 40px;
    ul {
      padding-left: 30px;
    }
    h3 {
      text-align: center;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
}