@import "https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
/* [project]/src/app/globals.css [app-client] (css) */
:root {
  --color-danger: #dc3545;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #ededed;
  background: #0a0a0a;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-style: normal;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: #08c;
  background-color: #0000;
  text-decoration: none;
  transition: color .3s;
}

a:visited {
  text-decoration: underline;
}

a:hover {
  color: #ccc;
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: #0070f3;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #0000;
}

::-webkit-scrollbar-thumb {
  background: #1339ff;
  border-radius: 10px;
}


/* [project]/src/components/Header/Header.module.scss.module.css [app-client] (css) */
@keyframes Header-module-scss-module__wS1-Va__hoveranimation {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.Header-module-scss-module__wS1-Va__redspan {
  color: #f01f4b;
}

.Header-module-scss-module__wS1-Va__header {
  display: grid;
  place-items: center;
  margin-top: 40px;
}

.Header-module-scss-module__wS1-Va__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  background: #1a17175c;
  border-radius: 15px;
  padding: 10px;
}

.Header-module-scss-module__wS1-Va__list li {
  margin-right: 25px;
}

.Header-module-scss-module__wS1-Va__list li:last-of-type {
  margin-right: 0;
}

.Header-module-scss-module__wS1-Va__list li a:not(.Header-module-scss-module__wS1-Va__active):hover:after {
  content: "";
  margin-top: 4px;
  height: 3px;
  border-radius: 99px;
  background: linear-gradient(90deg, #ef1f4c 0%, #99384d 56%);
  display: block;
  animation: .5s Header-module-scss-module__wS1-Va__hoveranimation;
}

.Header-module-scss-module__wS1-Va__list li a.Header-module-scss-module__wS1-Va__active {
  color: #ccc;
}

.Header-module-scss-module__wS1-Va__list li a.Header-module-scss-module__wS1-Va__active:after {
  content: "";
  margin-top: 4px;
  height: 3px;
  border-radius: 99px;
  background: linear-gradient(90deg, #ef1f4c 0%, #99384d 56%);
  display: block;
}

.Header-module-scss-module__wS1-Va__list li.Header-module-scss-module__wS1-Va__disabled {
  opacity: .5;
}

.Header-module-scss-module__wS1-Va__mobile__button {
  appearance: none;
  border: 0;
  background: 0;
  color: #fff;
  font-size: 40px;
  float: right;
  display: flex;
  position: absolute;
  right: 0;
  margin-right: 7px;
  margin-bottom: 2px;
}

.Header-module-scss-module__wS1-Va__mobile__menu {
  height: 100%;
  background-color: #000;
  width: 0%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  opacity: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
}

.Header-module-scss-module__wS1-Va__mobile__menu__header {
  margin-top: 30px;
  opacity: 1;
  margin-right: 20px;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body {
  width: 100%;
  display: grid;
  place-items: center;
  height: 50%;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body__list {
  list-style-type: none;
  padding: 0;
  width: 0%;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body__list li {
  background-color: #1a18187a;
  padding: 15px;
  margin-bottom: 10px;
  width: 0%;
  text-align: center;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body__list li:last-of-type {
  margin-bottom: 0;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body__list li.Header-module-scss-module__wS1-Va__active {
  background-color: #3530307a;
}

.Header-module-scss-module__wS1-Va__mobile__menu__body__list li.Header-module-scss-module__wS1-Va__active a {
  color: #ccc;
}


/* [project]/src/components/Footer/Footer.module.scss.module.css [app-client] (css) */
.Footer-module-scss-module__wcgw9G__Footer {
  margin-bottom: 40px;
}


/*# sourceMappingURL=src_560a0c._.css.map*/
