/* [project]/src/app/players/page.module.scss.module.css [app-client] (css) */
.page-module-scss-module__QkDE7W__PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
}

.page-module-scss-module__QkDE7W__Table {
  border: 1px solid #4950576b;
  padding: 1.5rem;
  border-radius: .375rem;
  width: 50%;
  text-align: center;
  margin-top: 10px;
}

@media screen and (width <= 767px) {
  .page-module-scss-module__QkDE7W__Table {
    width: 90%;
  }
}

.page-module-scss-module__QkDE7W__Table > thead {
  vertical-align: bottom;
}

.page-module-scss-module__QkDE7W__Table tbody, .page-module-scss-module__QkDE7W__Table td, .page-module-scss-module__QkDE7W__Table tfoot, .page-module-scss-module__QkDE7W__Table th, .page-module-scss-module__QkDE7W__Table thead, .page-module-scss-module__QkDE7W__Table tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

.page-module-scss-module__QkDE7W__Table > :not(caption) > * > * {
  padding: .5rem;
  color: initial, initial, #fff;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px initial, initial, #0000;
}

.page-module-scss-module__QkDE7W__Table > tbody {
  vertical-align: inherit;
}

.page-module-scss-module__QkDE7W__Table > tbody tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}


/* [project]/src/components/BadgeRenderer/BadgeRenderer.module.scss.module.css [app-client] (css) */
.BadgeRenderer-module-scss-module__WnziHq__badge {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: gray;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-shadow: 0 2px 4px var(--shadow-color);
  cursor: pointer;
  transition: all .2s;
  font-size: calc(.6 * var(--size));
  margin-right: 7px;
  border: 1px solid #fff;
}

.BadgeRenderer-module-scss-module__WnziHq__badge:hover {
  transform: scale(1.2);
}

.BadgeRenderer-module-scss-module__WnziHq__badge:last-of-type {
  margin-right: 0;
}

.BadgeRenderer-module-scss-module__WnziHq__badge .BadgeRenderer-module-scss-module__WnziHq__BadgeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}


/* [project]/src/components/Buttons/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__hDVbYq__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 4px;
  transition: all .3s;
  color: #fff;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.Button-module-scss-module__hDVbYq__button svg {
  margin-right: 6px;
  margin-bottom: 2px;
  font-size: 20px;
}

.Button-module-scss-module__hDVbYq__button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.Button-module-scss-module__hDVbYq__Primary {
  background: #1339ff;
  border: 1px solid #0000;
}

.Button-module-scss-module__hDVbYq__Primary:hover {
  background: #4664ff;
}

.Button-module-scss-module__hDVbYq__Transparent {
  background: none;
  border: 1px solid #1339ff;
}

.Button-module-scss-module__hDVbYq__Transparent:hover {
  border-color: #4664ff;
}

.Button-module-scss-module__hDVbYq__Secondary {
  border: 1px solid #191b1d;
  background: none;
}

.Button-module-scss-module__hDVbYq__Secondary:hover {
  background: #202325;
  border: 1px solid #191b1d;
}

.Button-module-scss-module__hDVbYq__Danger {
  border: 1px solid #0000;
  background: #ff6955;
}

.Button-module-scss-module__hDVbYq__Danger:hover {
  border: 1px solid #ff6955;
  background: #ff6955;
}


/*# sourceMappingURL=src_d3733d._.css.map*/
