/* [project]/src/app/page.module.scss.module.css [app-client] (css) */
.page-module-scss-module__rcUngW__container {
  display: grid;
  margin-top: 50px;
  place-items: center;
  gap: 20px;
}

.page-module-scss-module__rcUngW__readmeWrapper {
  width: 50%;
  line-height: 25px;
}

@media screen and (width <= 767px) {
  .page-module-scss-module__rcUngW__readmeWrapper {
    width: 90%;
  }
}

.page-module-scss-module__rcUngW__FormContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

@media screen and (width <= 767px) {
  .page-module-scss-module__rcUngW__FormContainer {
    width: 90%;
  }
}

.page-module-scss-module__rcUngW__FormContainer input {
  margin-bottom: 10px;
}


/* [project]/src/components/Input/Input.module.scss.module.css [app-client] (css) */
.Input-module-scss-module__R6-G4W__input {
  background: #232527;
  border: 1px solid #0000;
  border-radius: 8px;
  outline: none;
  color: #77787a;
  font-size: 16px;
  padding: 13px 40px;
  transition: all .3s;
  width: 100%;
}

.Input-module-scss-module__R6-G4W__input:focus {
  color: #fff;
}

.Input-module-scss-module__R6-G4W__input:hover {
  background: #2e3133;
}

.Input-module-scss-module__R6-G4W__input.Input-module-scss-module__R6-G4W__nullIcon {
  padding: 13px 24px !important;
}

.Input-module-scss-module__R6-G4W__Error {
  border: 1px solid #ff6955;
}

.Input-module-scss-module__R6-G4W__label {
  color: #77787a;
  transition: all .3s;
  width: 100%;
  margin-bottom: 5px;
}

.Input-module-scss-module__R6-G4W__label:hover {
  color: #fff;
}

.Input-module-scss-module__R6-G4W__icon {
  position: absolute;
  margin-top: 39px;
  margin-left: 11px;
}


/* [project]/src/components/Buttons/Button.module.scss.module.css [app-client] (css) */
.Button-module-scss-module__hDVbYq__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 4px;
  transition: all .3s;
  color: #fff;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  user-select: none;
}

.Button-module-scss-module__hDVbYq__button svg {
  margin-right: 6px;
  margin-bottom: 2px;
  font-size: 20px;
}

.Button-module-scss-module__hDVbYq__button:disabled {
  cursor: not-allowed;
  opacity: .5;
}

.Button-module-scss-module__hDVbYq__Primary {
  background: #1339ff;
  border: 1px solid #0000;
}

.Button-module-scss-module__hDVbYq__Primary:enabled:hover {
  background: #3757ff;
}

.Button-module-scss-module__hDVbYq__Transparent {
  background: none;
  border: 1px solid #1339ff;
}

.Button-module-scss-module__hDVbYq__Transparent:enabled:hover {
  border-color: #3757ff;
}

.Button-module-scss-module__hDVbYq__Secondary {
  border: 1px solid #191b1d;
  background: none;
}

.Button-module-scss-module__hDVbYq__Secondary:enabled:hover {
  background: #202325;
  border: 1px solid #191b1d;
}

.Button-module-scss-module__hDVbYq__Danger {
  border: 1px solid #0000;
  background: #ff6955;
}

.Button-module-scss-module__hDVbYq__Danger:enabled:hover {
  background: #ff8979;
}


/* [project]/src/components/Notify/Notify.module.scss.module.css [app-client] (css) */
.Notify-module-scss-module__x4gz3G__NotifyWrapper {
  position: fixed;
  display: grid;
  place-items: center;
  color: #ffffffbd;
  font-size: 16px;
  width: 100%;
  bottom: -80px;
  height: fit-content;
  transition: all .3s;
  z-index: 2147483647;
}

@media screen and (width <= 767px) {
  .Notify-module-scss-module__x4gz3G__NotifyWrapper {
    top: -1000px;
  }
}

.Notify-module-scss-module__x4gz3G__NotifyWrapper.Notify-module-scss-module__x4gz3G__active {
  bottom: 10px;
  opacity: 1;
}

@media screen and (width <= 767px) {
  .Notify-module-scss-module__x4gz3G__NotifyWrapper.Notify-module-scss-module__x4gz3G__active {
    top: -200px;
  }
}

.Notify-module-scss-module__x4gz3G__Notify {
  transition: transform .2s ease-in;
  padding: 12px 20px;
  position: relative;
  border-radius: 4px;
  max-width: 40%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  z-index: 2147483647;
}

@media screen and (width <= 767px) {
  .Notify-module-scss-module__x4gz3G__Notify {
    max-width: 97%;
  }
}

.Notify-module-scss-module__x4gz3G__Notify.Notify-module-scss-module__x4gz3G__default {
  background: #1339ff;
}

.Notify-module-scss-module__x4gz3G__Notify.Notify-module-scss-module__x4gz3G__error {
  background: #f55;
}

.Notify-module-scss-module__x4gz3G__Notify.Notify-module-scss-module__x4gz3G__warning {
  background: #f57b00b4;
}

.Notify-module-scss-module__x4gz3G__Notify.Notify-module-scss-module__x4gz3G__success {
  background: #388e3c;
}

.Notify-module-scss-module__x4gz3G__Notify:hover {
  transform: scale(1.1);
}

.Notify-module-scss-module__x4gz3G__Notify .Notify-module-scss-module__x4gz3G__IconContainer {
  font-size: 45px;
  margin-right: 25px;
  display: flex;
  align-items: center;
  opacity: .8;
}

.Notify-module-scss-module__x4gz3G__Notify .Notify-module-scss-module__x4gz3G__Title {
  font-weight: bolder;
  font-size: 18px;
  color: #fff;
  margin-bottom: 3px;
}

.Notify-module-scss-module__x4gz3G__Notify .Notify-module-scss-module__x4gz3G__Footer {
  font-weight: bold;
  opacity: .7;
  font-size: 13px;
  float: right;
}


/*# sourceMappingURL=src_a13141._.css.map*/
