.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  .label {
    background: linear-gradient(90deg, #c5d4e0, #9db0c3, #6e7e8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;

    text-shadow: 0 0 1px rgba(157, 176, 195, 0.6);
  }
}