.PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
}
.IconContainer {
  font-size: 120px;
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--color-danger);
  margin-bottom: 10px;
}
.container {
  border: 1px solid #242830;
  border-radius: 5px;
  padding: 15px;
  width: 50%;
  text-align: center;
    h1 {
      color: var(--color-danger);
      opacity: .7;
    }
    p {
      font-weight: 600;
      color: var(--color-muted);
    }
}
.ButtonGroup {
  display: flex;
  justify-content: center;
  margin-top: 15px;
    button {
      margin-right: 30px;
        &:last-of-type {
          margin-right: 0;
        }
    }
}