.badge {
  --size: 30px;
  display: inline-flex;
  width: var(--size);
  justify-content: center;
  align-items: center;
  align-content: center;
  place-self: center;

  &:last-of-type {
    margin-right: 0;
  }

  .BadgeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  svg {
    fill: var(--color);
    width: calc(.6 * var(--size));
    height: calc(.6 * var(--size));
  }
}