.container {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-left: 8px;
}

.badge {
  --size: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  place-self: center;
  cursor: help;

  .BadgeIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  svg {
    fill: var(--color);
    width: calc(.6 * var(--size));
    height: calc(.6 * var(--size));
  }
}