.badge {
  --size: 25px;
  width: var(--size);
  height: var(--size);
  border-radius: calc(var(--size) / 2);
  background: gray;
  color: var(--color-white);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-shadow: 0 2px 4px var(--shadow-color);
  cursor: pointer;
  transition: .2s;
  margin-right: 7px;
  border: 1px solid var(--color-white);
    &:hover {
      transform: scale(1.2,1.2);
    }
    &:last-of-type {
      margin-right: 0;
    }
    .BadgeIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
    }
    svg {
	    fill: var(--color-white);
      width: calc(.6* var(--size));
      height: calc(.6* var(--size));
    }
}