.colorDanger {
  color: var(--color-danger);
}

.colorMuted {
  color: var(--color-muted);
}

.colorDefaultText {
  color: var(--color-defaultText);
}

.colorLink {
  color: var(--color-link);
}

.colorBlack {
  color: var(--color-black);
}

.colorWhite {
  color: var(--color-white);
}

.colorGray {
  color: var(--color-gray);
}

.colorRed {
  color: var(--color-red);
}

.colorGreen {
  color: var(--color-green);
}