@keyframes hoveranimation {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.redspan {
  color: #f01f4b;
}
.header {
  display: grid;
  place-items: center;
  margin-top: 40px;
}
.badge__new {
  padding: .2em .5em .2em;
  margin-left: 10px;
  background: #d2322d;
  color: #fff;
  vertical-align: middle;
  display: inline-block;
  font-size: 75%;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  border-radius: .25rem;
  text-transform: uppercase;
}
.list {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  background: #1a17175c;
  border-radius: 15px;
  padding: 10px;
  height: 47px;
    li {
      margin-right: 25px;
        &:last-of-type {
          margin-right: 0;
        }
        .disabled_element {
          opacity: .5;
          cursor: default;
          color: #08c;
            .badge__new {
              display: inline-block;
            }
        }
        a, .disabled_element {
          &:not(.active) {
            &:hover {
              &::after {
                content: "";
                margin-top: 4px;
                height: 3px;
                border-radius: 9999px;
                background: linear-gradient(90deg, rgba(239, 31, 76, 0.541) 0%, rgba(153, 56, 77, 0.39) 56%);
                display: block;
                animation: hoveranimation .5s;
              }
            }
          }
          span {
            display: flex;
            vertical-align: middle;
            align-content: center;
            justify-content: center;
            align-items: center;
              svg {
                margin-right: 5px;
                vertical-align: middle;
              }
          }
          &.active {
            color: #ccc;
              &::after {
                content: "";
                margin-top: 4px;
                height: 3px;
                border-radius: 9999px;
                background: linear-gradient(90deg, hsla(347, 87%, 53%, 1) 0%, hsla(347, 46%, 41%, 1) 56%);
                display: block;
              }
          }
        }
        &.disabled {
          opacity: 0.5;
        }
    }
}
.mobile {
  &__header {
    display: flex;
    justify-content: center;
      h1 {
        font-size: 25px;
      }
      svg {
        margin-right: 10px;
      }
  }
  &__button {
    appearance: none;
    border: 0;
    background: 0;
    color: white;
    font-size: 20px;
    float: right;
    display: flex;
    position: absolute;
    right: 0;
    margin-right: 7px;
    margin-bottom: 2px;
    transition: transform .3s ease;
  }
  &__menu {
    z-index: 999999;
    background-color: rgb(15, 15, 15);
    position: absolute;
    top: 40px;
    right: 40px;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
      &__list {
        list-style: none;
        margin: 0;
        display: grid;
        width: 100%;
        justify-items: center;
        align-content: center;
          li {
            margin-bottom: 7px;
            width: 100%;
            display: flex;
            padding: 7px;
            justify-content: center;
            background-color: lighten(#1a17175c, 5%);
            border-radius: 15px;
            white-space: nowrap;
            flex-wrap: nowrap;
          }
      }
  }
}