.header {
    padding-top: 2rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    user-select: none;
        &__text {
            text-align: center;
                a {
                    color: inherit;
                        &:hover {
                            color: inherit;
                        }
                }
        }
        &__red {
            color: #f01f4be7;
        }
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 30px;
        }
}