header {
    padding-top: 5%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 40%;
        h1 {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
}