.private {
    padding: 12px 0;
    color: #39838d;
    font-size: 17px;
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.redbutton {
    $padding-sides: .4375rem;
    $padding-topbottom: .1rem;
    padding-left: $padding-sides;
    padding-right: $padding-sides;
    padding-bottom: $padding-topbottom;
    padding-top: $padding-topbottom;
    // background-color: #f01f4be7;
    background-color: rgba(255, 255, 255, 0.13);
    border-radius: 10px;
    border: 0;
    transition: .3s;
    font-size: 15px;
    color: white;
    outline: none;
        &:hover {
            background-color: rgba(255, 255, 255, 0.226);
        }
        &:active {
            transform: scale(0.99,0.99);
        }
        &:focus-visible {
            box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.507);
        }
}