.private {
  padding: 12px 0;
  color: #39838d;
  font-size: 17px;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.redbutton {
  padding-left: 0.4375rem;
  padding-right: 0.4375rem;
  padding-bottom: 0.1rem;
  padding-top: 0.1rem;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  border: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 15px;
  color: white;
  outline: none;
}
.redbutton:hover {
  background-color: rgba(255, 255, 255, 0.226);
}
.redbutton:active {
  -webkit-transform: scale(0.99, 0.99);
          transform: scale(0.99, 0.99);
}
.redbutton:focus-visible {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.507);
          box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.507);
}