@import '../mixins';

main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.container {
    height: 30dvh;
}
#playername {
    @include inputs();
    border: 1px solid transparent;
}
#clear {
    border: 0;
    background-color: transparent;
    color: #ffffffab;
    transition: all .2s;
        &:hover {
            color: white;
        }
}
.input-group {
    display: inline-block;
}
.icon {
    position: absolute;
    top: 50%;
    left: 96%;
    transform: translateY(-50%);
    opacity: 0;
    transition: all .3s;
        &.visible {
            opacity: 1;
        }
}
#searchsubmit {
    @include buttons();
    background-color: #003878;
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.473); 
        &.allg {
            cursor: pointer;
            background-color: #0070f0;
            color: var(--text-color);
                &:hover {
                    background-color: #0066db;
                    transform: scale(0.991,0.991);
                }
        }
}
#cyrillic-symbols {
    color: var(--text-block);
    opacity: 0;
    transition: opacity .2s;
        &.visible {
            opacity: 1;
        }
}
#navbar {
    display: flex;
    flex-direction: row;
}
.card-body {
    text-overflow: ellipsis;
}
#allupdatesp {
    text-overflow: ellipsis;
}
#card-bg {
    background: transparent !important;
    transition: .2s;
    border: 1px solid #3f3f4657;
        &:hover {
            box-shadow: #525258 1px 1px 16px !important;
            border: 1px solid #3f3f46;
        }
}
#playername.error {
    border: 1px solid var(--text-block)
}
#lastUpdate {
    color: var(--text-warning);
    cursor: pointer;
    transition: .2s;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-color: rgba(255, 165, 0, 0.3);
        &:hover {
            text-decoration-color: var(--text-warning);
        }
}

// Adaptive

@media screen and (max-width:767px) {
    div.container {
        height: 54dvh;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    div.container {
        height: 70dvh;
    }
}
@media screen and (max-width:701px) {
    div.container {
        height: 60dvh;
        width: 150%;
    }
    main {
        left: 34%;
    }
    .icon {
        left: 90%;
    }
}
