.Chip {
  background-color: hsl(240 5.26% 26.08%);
  max-width: fit-content;
  border-radius: 9999px;
  white-space: nowrap;
  align-items: center;
  display: inline-flex;
  min-width: min-content;
  height: 1.75rem;
  font-size: 13px;
  margin-right: 5px;
    &:last-of-type {
      margin-right: 0;
    }
}
.ChipContent {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}
.small {
  padding: 2px 6px;
}
.medium {
  padding: 6px 10px;
}
.large {
  padding: 8px 12px;
}
.ChipIcon {
  margin-right: 3px;
  position: relative;
}