.Table {
  background: transparent;
  border: 1px solid rgba(73,80,87,.42);
  padding: 10px;
  text-align: center;
  border-spacing: 0;
  width: 50%;
  overflow-y: auto;
  border-radius: 10px;
    thead {
      font-weight: bolder;
        th, td {
          padding: 10px;
        }
    }
    tbody {
      tr {
        transition: .2s;
          &:hover {
            background: lighten(rgba(73,80,87,.12), 3%);
          }
      }
      td {
        padding: 10px;
        border-top: 1px solid rgba(73,80,87,.42);
        border-right: 1px solid rgba(73,80,87,.42);
        &:last-child {
            border-right: 0;
        }
      }
    }
}