.Badge {
  padding: 0.2em 0.5em;
  margin-left: 10px;
  font-weight: 600;
  color: #fff;
  border-radius: 0.25rem;
  text-transform: uppercase;
  display: inline-block;
    .loading {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 13px;
      height: 13px;
        svg {
          margin: 0;
          padding: 0 !important;
        }
    }
}