.PageWrapper {
  display: grid;
  place-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  h1 {
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}