.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.infocontainer {
    border-radius: 5px;
    padding: 10px;
    line-height: 2.225rem;
    border: 1px solid #242830;
}
.buttoncontainer {
    display: flex;
    flex-direction: row;
    gap: 6px;
}
.content {
    ul {
        list-style-type: none;
        padding: 0;
    }
}