.NotifyWrapper {
  position: fixed;
  display: grid;
  place-items: center;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  bottom: -80px;
  height: fit-content;
  transition: all .3s;
    @media screen and (max-width: 767px) {
      top: -1000px;
    }
    &.active {
      bottom: 10px;
      opacity: 1;
        @media screen and (max-width: 767px) {
          top: -200px;
        }
    }
}
.Notify {
  transition: transform .2s ease-in;
  padding: 12px 20px;
  position: relative;
  border-radius: 4px;
  max-width: 40%;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  z-index: 9999;
    @media screen and (max-width: 767px) {
      max-width: 97%;
    }
    &.default {
      background: #1339FF;
    }
    &.error {
      background: #ff5555;
    }
    &.warning {
      background: #e9d9a5;
      color: #0000008c;
    }
    &.success {
      background: #c1dbbe;
      color: #0000008c;
    }
    &:hover {
      transform: scale(1.1);
    }
    .IconContainer {
      font-size: 45px;
      margin-right: 25px;
      display: flex;
      align-items: center;
      opacity: .8;
    }
    .Title {
      font-weight: bolder;
      font-size: 18px;
      margin-bottom: 3px;
    }
    .Footer {
      font-weight: bold;
      opacity: .7;
      font-size: 13px;
      float: right;
    }
}