.squared {
  border-radius: 0;
}

.small {
  border-radius: 6px;
}

.medium {
  border-radius: 8px;
}

.large {
  border-radius: 16px;
}

.extra-large {
  border-radius: 20px;
}

.rounded {
  border-radius: 999px;
}