.Primary {
  background: #1c1c1c;
  border-color: #2a2a2a;

  &:not(.disabled) {
    &:hover {
      background: #2a2a2a;
      border-color: #3a3a3a;
    }
  }
}

.Violet {
  background: #cba6f7;
  color: black !important;

  &:not(.disabled) {
    &:hover {
      background: #cba6f7
    }
  }
}

.Transparent {
  background: transparent;

  &:not(.disabled) {
    &:hover {
      background: #202325;
    }
  }
}

.Secondary {
  border: 1px solid #191B1D;
  background: transparent;

  &:not(.disabled) {
    &:hover {
      background: #202325;
      border: 1px solid #191B1D;
    }
  }
}

.Danger {
  background: #611b1b;
  border-color: #7a2323;

  &:not(.disabled) {
    &:hover {
      background: #7a2323;
      border-color: #a82828;
    }
  }
}

.Outlined {
  background: transparent;

  &:not(.disabled) {
    &:hover {
      background-color: #656c7633;
    }
  }
}

.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}